# Nango Configuration
NANGO_BASE_URL=https://api.nango.dev
NANGO_SECRET_KEY=your_nango_secret_key_here
NANGO_INTEGRATION_KEY=quickbooks-sandbox
NANGO_WEBHOOK_SIGNING_KEY=your_nango_webhook_signing_key_here
